 {% extends 'base.html' %}

 {% block body %}
   <main class="px-3 text-light">
    <h1 class="fst-italic ">Your women's bags :</h1>
 {% endblock %}
 {%  block content%}
  <div class="container mt-5  fst-italic  ">
          {% for el in data %}
          <a href="{{ el.link }} ">
          <div class="p-3 mb-2 bg-info text-white">
            <h2>{{ el.title }}</h2>
            <a  href="{{ el.link }} "></a>
            <p> Price : {{ el.price_base }} ❌ </p>
            <p2><b> Discount_percent : {{ el.discount_percent }}</b></p2>
            <h2> Sell price : {{ el.price_sale }} ✅</h2>
            <p>In stock : {{ el.onhand }} </p>
            <img src=https://www.6pm.com{{ el.img }}>
            </a>
          </div>
          {% endfor %}
  </div>

 <a class="btn btn-dark" href="/">Back</a>
  {% endblock %}
</main>